box2d-py
certifi
charset-normalizer
cloudpickle
contourpy
cycler
Farama-Notifications
filelock
fonttools
fsspec
gymnasium
idna
importlib-metadata
importlib-resources
Jinja2
kiwisolver
MarkupSafe
matplotlib 
mkl-fft
mkl-random 
mkl-service
mpmath
munkres
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
pettingzoo
Pillow
ply
pygame
pyparsing
PyQt5-sip
python-dateutil
requests
sip
six
swig
sympy
toml
torch
torchaudio
torchvision
tornado
triton
typing_extensions
urllib3
zipp
